@import url("../../../index.css");

h1 {
  max-width: 1720px;
  margin: auto;
  padding-top: 1rem;
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  margin: 1rem;
}

.container {
  max-width: 1720px;
  margin: auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 1rem;
}

.cardC {
  height: 755px;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
}
.cardD {
  height: 700px;
}

.curricSY {
  text-align: center;
  height: 100px;
  border-bottom: 1px solid var(--color-border);
}

.curricButn {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

.firstBtn {
  background-color: #ffff00;
}

.secondBtn {
  background-color: #0099ff;
}

.thirdBtn {
  background-color: #04be58;
}

.fourthBtn {
  background-color: #e94c4c;
}

.right-sideSub {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1.35rem;
  margin-top: 1rem;
}

.upper-partSub,
.lower-partSub {
  height: 350px;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
}
