@import url("../../index.css");

.card2upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

.card2upper i {
  margin: 1rem;
  font-size: 2rem;
}

.recentsubContainer {
  display: grid;
  max-width: 400px;
  margin: auto;
  grid-template-columns: 1fr 3fr;
}

.subcontainer1,
.subcontainer2,
.subcontainer3 {
  max-width: 300px;
  border-bottom: 1px solid var(--color-border);
}

.subcontainer3 {
  border-bottom: none;
}

.recentsubIcon {
  display: grid;
  max-width: 100px;
  height: 270px;
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
}

.subIcons {
  border: 1px solid red;
  height: 60px;
  width: 70px;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
  border-radius: 0.5rem;
}

.subicon1,
.subicon2,
.subicon3 {
  height: 60px;
  max-width: 60px;
  border-radius: 1rem;
}

.subicon1 {
  margin-top: 0.5rem;
}

.subicon2 {
  margin-top: 1rem;
}

.subicon3 {
  margin-top: 1.5rem;
}

.recentsubIcon img,
.nextsubIcon img {
  border-radius: 0.5rem;
}

#subIcons {
  width: 100%;
  height: 100%;
}

.recentsubName,
.nextsubName {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 260px;
  margin-top: -1rem;
}

.subdetails1 {
  display: flex;
  justify-content: space-between;
}

.substatus1 {
  display: flex;
  align-items: center;
}

.substatus1 i {
  color: green;
  font-size: 0.9rem;
}
