@import url("../../../index.css");

.subject {
  width: 150px;
  height: 150px;
  text-align: center;
  margin: auto;
}

.subjectcode {
  width: 100px;
  height: 70px;
  border: 1px solid red;
  font-size: 0.8rem;
  font-weight: bold;
  margin: auto;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
}

.subjectinfo {
  display: flex;
  align-items: center;
  width: 50px;
}

.subjectwrapper {
  width: 1720px;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4rem;
}
