@import url("../../index.css");

h1 {
  max-width: 1720px;
  margin: auto;
  padding-top: 1rem;
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  margin: 1rem;
}

h3 {
  font-size: var(--font-size-h3);
  margin: 1rem;
}

h4 {
  font-size: var(--font-size-h4);
  margin-top: 0.3rem;
}

.container {
  max-width: 1720px;
  margin: auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 1rem;
}

.card {
  border: 2px solid var(--color-border);
  border-radius: 1rem;
}

.card1 {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.card2 {
  height: 350px;
}

.card2 {
  margin-top: 1rem;
}

.card4upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

.card4upper i {
  margin: 1rem;
  font-size: 2rem;
}

.card2 h1,
.card4 h1 {
  margin-left: 1rem;
  font-weight: 550;
}

.card3 h3 {
  color: green;
}

.card2 h3,
.card4 h3 {
  color: grey;
}

.card4 {
  height: 330px;
  margin-top: -8.5rem;
}

.card3 {
  height: 240px;
}
