@import url("../../../index.css");

h1 {
  max-width: 1720px;
  margin: auto;
  padding-top: 1rem;
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  margin: 1rem;
}

.container {
  max-width: 1720px;
  margin: auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 1rem;
}

.cardA {
  height: 755px;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
}

.semSY {
  border-bottom: 1px solid var(--color-border);
  text-align: center;
}

.semContainer {
  margin-top: -0.5rem;
}

.firstSem,
.secondSem {
  max-width: 1000px;
  height: 340px;
  margin: auto;
  border: 1px solid var(--color-border);
  text-align: center;
  margin-bottom: 0.5rem;
}

.cardB {
  height: 700px;
}

.right-sideSub {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1.35rem;
  margin-top: 1rem;
}

.upper-partSub,
.lower-partSub {
  height: 350px;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
}
