@import url("../../index.css");

.navBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  background-color: white;
}

.left-side,
.right-side {
  display: flex;
}

li {
  margin: 0.5rem 3rem;
  z-index: 0;
}

.navBar ul li a:hover {
  color: var(--color-border);
}

hr {
  border: none;
  width: 100%;
  height: 3px;
  background: rgb(221, 38, 38);
}
