.header {
  background: #830001;
  background-image: -webkit-radial-gradient(center, #ffffff, #830001);
  background-image: -o-radial-gradient(center, #ffffff, #830001);
  background-image: -moz-radial-gradient(center, #ffffff, #830001);
  background-image: radial-gradient(center, #ffffff, #830001);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 85px;
  padding: 5px 0;
}
